<section class="padding_top_50px padding_bottom_50px">
  <div class="container">
    <div class="col-sm-12">
      <%= simple_form_for @message, url: new_contact_message_path do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :phone, required: true %>
        <%= f.input :question, required: true %>

        <div class="form-actions padding_top_20px">
          <%= f.button :submit, "Create!" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
